body {
    background: rgb(230, 112, 83)
}
h1 {
    font-size: 85px;
    margin-left: 350px;
    z-index: 0;
}
#logo {
    float: top;
    float: left;
    margin: 20px;
    border: solid 3px lightblue;
    z-index: 1;
}
nav li {
    display: inline-block;
    text-align: center;
    margin: 2%;
    padding: 3%;
    background-color: white;
    font-size: 1.2em;
}

#headerbreak {
    color: blue
}